* {
    background-color: #282c34;
    color: white;
}

.Home {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.Home-header {
    font-size: calc(10px + 2vmin);
}

.Home-button {
    background-color: #61dafb;
    border: none;
    padding: 15px 28px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.Home-button:hover {
    background-color: #21a1f1;
}
